
.navigator {
	background-color: #9cd3e2;
	background-size: contain;
	border-right: white 5px solid;
	height: 100vh;
	overflow: hidden;
	width: 3rem;
	transition: width 0.5s cubic-bezier(.65,.08,.31,1.09); 
}

.navigator:hover {
	width: 12rem;
}

.main-content {
	background-image: linear-gradient(#0eb8e9, #092258);
}